<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Checkout Complete</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
              th:href="@{/css/bootstrap.min.css}"/>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                th:src="@{/js/jquery-3.3.1.min.js}"></script>
    </head>
    <body>
        <h2>Thank you for your order!</h2>
    </body>
</html>